{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post">
        {% csrf_token %}
        <!--오류 표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!--오류표시 End-->
         <div class="form-group">
            <label for="subject">제품명</label>
            <input type="text" name="subject" id="subject" value="{{ form.content.value |default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">가격</label>
            <input type="text" name="number" id="content" value="{{ form.content.value |default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="made">제조사</label>
            <select name="lap" id="made"></select>
                <option value="삼성전자">삼성전자</option>
                <option value="LG전자">LG전자</option>
                <option value="애플">애플</option>
                <option value="DELL">DELL</option>
                <option value="LENOVO">LENOVO</option>
                <option value="HP">HP</option>
             <<input type="text" name="number" id="content" value="{{ form.content.value |default_if_none:'' }}">
         </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
